* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

body {
    font-family: "Roboto", serif;
}


header > div:nth-child(1) {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0,15);
    z-index: 999;
}

header > div:nth-child(2) {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0,25);
    z-index: 100;

    i, input{
        color: #353535;
    }

    input {
        width: 108px;
        background-color: transparent;
        border: 0;
        font-family: 500;
        font-size: 16px;
    }
}

#main-logo {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


main {
    section:nth-child(1) {
        padding: 25px 0;
        text-align: center;

        h1 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }

        a {
            padding: 13px 19px;
            color: white;
            border-radius: 25px;
            background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        }

        a:hover {
            opacity: 85%;
        }
    }
}


















